
        
     /* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
     /* main.css */   
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

dt::after {
  content: ":";
}

::selection {
  background-color: rgba(0,0,0,0.5);
}

.width-wrap {
  background-color: #18b0ec;
  text-align: center;
  padding: 0 2em 2em;
  max-width: 960px;
  word-wrap: normal;
  border: 1px black;
  margin: 0px auto 3em;
  min-width: 480px;
  image-rendering: auto;
  border-top: 0em;
  border-bottom: 2em solid;
    


  
}

img {
max-width: 100%;
}

header nav {
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  margin-left: 2em;
  margin-right: 2em;
}

nav ul li a {
  color: rgb(113, 147, 238);
  text-decoration: none;
  display: inline-block;

  margin-left: 1em;
  margin-right:1em;
  margin-top: -4px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1em 0 0.5em;
      
  border-top: 4px solid transparent;

    
  }

nav ul li a:hover {
    background-color: #75b4d1;
    border-color: #fff;
    text-decoration: none;
}

nav ul{
  margin:0;
  padding:0;
  list-style-type: none;
  text-decoration: none;
 
  }

  nav ul li {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0;

  }

h1, h2, h3, h4, h5, h6 {
  font-family:Rubik, sans-serif;
}



.bio{
  columns: 3;
  column-gap: 2em;

}

.bio table {

margin-top: 1em; 
caption-side: bottom;
column-span: all;

}
.bio img {
  
  box-shadow: inset 3px 3px 10px 0 #46cbf3;
  background-color: #fff;
  padding: 2%;
  border-radius: 9px;
  
}
footer {

text-align: center;
font-size: 75%;

}

a[href="#top"] {
  text-shadow: 1px 1px 2px #e9660f;
}
a[href="#top"]:hover {
  text-decoration: none;
}


hr {

min-width: 300px;
max-width: 600px;

margin-bottom: 2px;
border-style: none;
border-bottom-style: dotted;
border-bottom-color: whitesmoke;
border-bottom-width: 3px;


}

a:link {

  text-decoration: none;
}


a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

header {
  border-top: 4px solid rgba(0,0,0,0.1);
  margin-left: -2em;
  margin-right: -2em;
 
}

body {
  margin-left: auto;
  margin-right:auto;
  margin: 1em;
  color: #fff;
  background-color: rgb(36, 103, 167);
  text-align: center;
  font-family: Karla, sans-serif;
  line-height: 1.3;

}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 25px;
  font-weight: normal;
  margin-top: 5px;
  color:rgba(0,0,0,0);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,148,209,1) 23%, rgba(0,212,255,1) 100%);
  background-clip: text;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: whitesmoke;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: whitesmoke;
}
li {
  margin-left: auto;
  margin-right:auto;
  list-style: none;
  text-align: center;
  align-items: center;
  padding: 10px;

}
ol li{
  margin-left: auto;
  margin-right:auto;
  list-style-type: upper-roman;
  color: #dfe6ee;
  list-style-position: inside;
  text-align: center;
  padding: 6px;


}





table {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  border-collapse: collapse;
  text-align: left;
  
  
}

td,
th {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}

tbody tr td
{
  background-color: rgba(0, 0, 0, 0.05);
  
}

tbody tr:nth-child(even) td {background-color: rgba(0,0,0,0.15); }




thead th,
thead td {
 
  color: #fff;
  background-color:rgb(0, 0, 0, 0.2);
  text-align: center;
}

tfoot th,
tfoot td,
tbody th {

  background-color:rgba(0, 0, 0, 0.2);


}

dl{
  margin-left: auto;
  margin-right:auto;
  align-items: center;
  padding: 0em;
}

dl dd{
  margin-left: auto;
  margin-right:auto;
color: #d6d6e2;
align-items: center;
padding: 0em;
  
}
input:focus{
  outline:none;
}
form{
margin: 1em;
box-shadow: none;
border: none;
background-color: rgb(28, 152, 201);
}

form label { 
  display: block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline;
}

textarea {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  border: 2px solid rgb(59, 164, 206);
  border-radius: 4px;
  background-color: #bee7fa;
  resize: none;
}
iframe,
object,
embed{
  border-top-left-radius: 2em;   
  border-bottom-right-radius:2em ; 
}


input:invalid {
  background-color: #fee;
}

[type="submit"] {
  border: none;
  padding: 1em 3em;
  background-color: #350542;
  color: white;
}